<ActionBar title="Contact Us" class="action-bar">
	<NavigationButton text="Menu" icon="res://ic_drawer" (tap)="openDrawer()"></NavigationButton>
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
  <ScrollView tkDrawerContent class="sidedrawer-left">
    <StackLayout horizontalAlign="left">
      <drawer-content></drawer-content>
    </StackLayout>
  </ScrollView>
	<ScrollView orientation="vertical" tkMainContent class="page">
		<StackLayout class="m-5">
			<StackLayout class="p-10 border"> 
				<Label class="h3" text='Contact Information'></Label>
				<StackLayout class="m-t-10 m-l-30">
					<Label class="text-muted" text="121, Clear Water Bay Road"></Label>
					<Label class="text-muted" text="Clear Water Bay, Kowloon"></Label>
					<Label class="text-muted" text="HONG KONG"></Label>
					<Label class="text-muted" text="Tel: +852 1234 5678"></Label>
					<Label class="text-muted" text="Fax: +852 8765 4321"></Label>
					<Label class="text-muted" text="Email: confusion@food.net"></Label>
				</StackLayout>
			</StackLayout>
		</StackLayout>
	</ScrollView>
</RadSideDrawer>